body {
    background-color: #E5E5E5;;
}

.calculator {
    background: white;
    border-radius: 5px;
    border: solid 1px black;
    margin: 10em auto 1em;
    width: 600px;
    outline: none;
}

.current_result {
    font-size: 35px;
}

.full_display {
    background: #E6ECF3;
    font-size: 50px;
    display: flow-root;
    margin: 15px 15px 15px 15px;
    border-radius: 5px;
    color: black;
    font-family: Monaco, serif;
}

.input_display_inactive {
    color: #7ea8be;
}

.input_display_active {
    color: black;
}

.right_display{
    text-align: right;
    margin-left: 30px;
    margin-right: 20px;
    float: right;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(80%);
    white-space: nowrap;
}

.current_result {
}

.current_operator {
    width: 28px;
    float: left;
    font-size: 40px;
    margin-top: 60px;
    padding-left: 10px;
    margin-left: 10px;
}

.key_grid {
    width: 585px;
    height: 100%;
    background: transparent;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: solid 1px transparent;
}

table {
    outline: none;
    display: block;
    table-layout: fixed;
}

td {
    border:  solid transparent 5px;
    outline: none;
    width: 130px;
    height: 100%;
}

.key {
    padding-top: 1em;
    padding-bottom: 1em;

    background: #BACFE8;

    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 30px;
    outline: none;
    font-family: Roboto Slab, serif;
    color: black;
}

.active {
    background: #8FB7E7;
}

#new_element {
    margin: auto;
    alignment: center;
    display: flex;
}

#new_button {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 600px;
    font-size: 50px;
    font-family: Monaco monospace;
    background: white;
    outline: none;
    border-radius: 5px;
    border: none;
}

#new_button:hover {
    background: #7ea8be;
}

#new_button:active {
    background: #223143;
}