body {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

#calculator {
    margin: 10em auto;
    width: 920px;

}

#full_display {
    background: rgb(0,166,255);
    background: radial-gradient(circle, rgba(0,166,255,0.43881302521008403) 0%, rgba(9,25,121,0) 16%, rgba(0,166,255,0.4640231092436975) 100%);

    color: aliceblue;
    font-size: 70px;
    display: flow-root;
    margin-bottom: 2px;
    /*margin-left: 1px;*/
    border-radius: 20px;

}

.input_display_inactive {
    color: #7ea8be;
}

.input_display_active {
    color: #227c9d;
}

#right_display{
    text-align: right;
    margin-left: 70px;
    float: right;
    display: inline;
}

#current_result {
    color: #227c9d;
}

#current_operator {
    width: 50px;
    float: left;
    font-size: 50px;
    padding-top: 35px;
    padding-left: 10px;
    color: #227c9d;
}

#key_grid {
    width: 100%;
    height: 100%;
    background: transparent;
}

table, th, td {
    /*border: none;*/
    outline: none;
    border-collapse: collapse;
}

td {
    border: 5px solid transparent;
    outline: none;
    width: 25%;
}

button {
    padding-top: 1em;
    padding-bottom: 1em;

    background: rgb(0,166,255);
    background: radial-gradient(circle, rgba(0,166,255,0.43881302521008403) 0%, rgba(9,25,121,0) 16%, rgba(0,166,255,0.4640231092436975) 100%);

    border-radius: 20px;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 40px;
    outline: none;
    color: #227c9d;
}

.active {
    background: #8BC6EC;
}