.calculator {
    alignment: center;
    font-size: 300%;
}

#current_input,
#current_result {
    text-align: right;
}

#right_display {
    margin-left: 70px;
    float: right;
}

#current_operator {
    width: 50px;
    float: left;
    font-size: 200%;
}

.display {
    border-color: cadetblue;
}

#key_grid {
    width: 100%;
    height: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

button {
    height: 100%;
    display: block;
    width: 100%;
}

.key {

}